/*

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: beige;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
 
}

.div{
  background: linear-gradient(red, blue, black, orange);
  height: 600px;
  width: 600px;
  margin: 0 auto;
  padding: 50px 162px;

}
input{
  background: linear-gradient( to right, darkslateblue, aquamarine, darkturquoise, greenyellow, indianred) ;
  padding: 20px 30px 20px 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: block;
  justify-content: center;
  outline: none;
  border-radius: 5px;
}
h2{
color: rgb(31, 233, 172);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 700;
font-size: 20px;
background-color: rgba(95, 158, 160, 0.39);
border-radius: 6%;
}
button{
  padding: 10px 20px;
  background: linear-gradient( to right, darkturquoise, greenyellow);
  border: none;
  border-radius: 5px;
}



input::placeholder{
 background-color: blueviolet;
}


*/